<nav id="navbar">
  <span class="row">
    <div class="six columns">
      <!-- <div id="brand">
        <a href="/"><img id="logo" src="/arystar-logo.png">Arystar Art</a>
      </div> -->
      <span id="URLS">
        <%= link_to 'Home', '/' %>
        <%= link_to 'Webcomics', comics_url %>
        <%= link_to 'Art', art_url %>
        <%= link_to 'Animations', animations_url %>
      </span>
    </div>
    <div class="six columns">
    </div>
  </span>

</nav>
